body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photos1>.photos1Central {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photos1>.photos1Title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.promotion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.promotion>.titlePromotion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promotion>.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.promotion>.cards>.card>.cards_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photos2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photos2Left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.photos2LeftUp {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ftrLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ftrRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}